@model List<u19092513_HW04.Models.Donation>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Listed Donations</h2>
</div>


<div>
    <input type="text" placeholder="Search...">
</div>

<div class="row">
    <a class="btn btn-primary pull-right" href="@Url.Action("Donate","Home")">Make donation</a>
    
</div>

@foreach (var donation in Model)
            {
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-body">
                
                <div class="row">
                    <img alt="Uploaded image" src="@ViewBag.ImageUrl" />
                    <h4>@donation.Description </h4>
                    <h4>@donation.Condition</h4>
                    <h4>@donation.Date</h4>
                    <h6>"The value of this donation:"+ @donation.calculateValue()</h6>

                    <input type="button" value="View donor details" onclick="msg()">
                    <script>
                         function msg() {
                         alert(@donation.Details)
                          }
                    </script>

                </div>

            </div>

        </div>
    </div>

            }



